{
  email admin@example.com
}

localhost {
  encode zstd gzip

  # API → backend Spring Boot (HTTP)
  handle /api/* {
    reverse_proxy http://sia_backend:8080
  }

  # IA → serviço Python (HTTP)
  handle_path /ai/* {
    reverse_proxy http://sia_ai:8000
  }

  # Frontend (HTTP)
  handle {
    reverse_proxy http://sia_frontend:3000
  }

  log {
    output stdout
    format console
  }
}
